	<%= form_for @user do |f| %>
		<div class="control-group">
			<%= f.label :username, "用户名" %>
			<%= f.text_field :username, placeholder: "username"%>
		</div>

		<div class="control-group">
			<%= f.label :email, "邮箱" %>
			<%= f.text_field :email, placeholder: "foo@bar.com" %>
		</div>

		<div class="control-group">
			<%= f.label :password, "密码" %>
			<%= f.password_field :password %>
		</div>

		<div class="control-group">
			<%= f.label :password_confirmation, "确认密码" %>
			<%= f.password_field :password_confirmation %>
		</div>
		
		<%= f.submit(@user.new_record? ? "注册" : "更新", class: "btn btn-primary") %>
	<% end %>