	<%= form_for @user do |f| %>
		<div class="control-group">
			<%= f.label :username, t('username') %>
			<%= f.text_field :username, placeholder: "username"%>
		</div>

		<div class="control-group">
			<%= f.label :email, t('email') %>
			<%= f.text_field :email, placeholder: "foo@bar.com" %>
		</div>

		<div class="control-group">
			<%= f.label :password, t('password') %>
			<%= f.password_field :password %>
		</div>

		<div class="control-group">
			<%= f.label :password_confirmation, t('password_confirmation') %>
			<%= f.password_field :password_confirmation %>
		</div>
		
		<%= f.submit(@user.new_record? ? t('sign_up') : t('update'), class: "btn btn-primary") %>
	<% end %>