<div>
	<span class="pull-right"><%= gravatar_for @user %></span>
	<div class="center">
		<h1><%= @user.username %></h1><br>
		<small><em>since <%= display_date(@user.created_at) %></em></small>
	</div>
	<hr>
</div>


<div class="container">
<div class="row">
	<div class="span6" %>
		<div class="well well-small">	
			<h4><%= t('.articles')%></h4><hr>
			<div>
				<div id="posts">
					<%= render 'shared/posts' , object: @posts%>
				</div>
				<div id="paginator">
					<%= paginate @posts, remote: true %>
				</div>
			</div>
		</div>
	</div>

	<div class="span6">
		<div class="well well-small">
		<h4><%= t('.recent_comments')%></h4><hr>
			<div>
				<% if @user.comments.any? %>
					<% @user.comments.reverse.take(10).each do |comment| %>
						<p><%= link_to markdown(comment.body), post_path(comment.post_id) %><br>
						<span class="timestamp">
							<small><%= time_ago_in_words(comment.created_at) %> </small>
						</span>
						<hr>
						</p>
					<% end %>

				<% end %>
			</div>
		</div>
	</div>

</div>
</div>