<% if object.comments.any? %>
	<% object.comments.each do |comment| %>
		<% unless comment.body.blank? %>
			<span class="gravatar-sm pull-left"><%= link_to (gravatar_for comment.user), user_path(comment.user) %></span>

			<span class="pull-right">
				<%= link_to like_post_comment_path(comment.post, comment, like: true), method: 'post', remote: true do %>
					<i class="icon-thumbs-up"></i>
				<% end %>
				<span id='<%= "comment_#{comment.id}_likes" %>'><%= comment.likes.size %></span>

			</span>

			<p>			
			<small>
				<%= link_to comment.user.username, user_path(comment.user) %>
				<span class="timestamp">
				<%= time_ago_in_words(comment.created_at) %> ago
				</span>
			</small><br>
			<%= comment.body %>
			</p><hr>
		<% end %>
	<% end %>
<% end %>