<% if object.any? %>
	<% object.each do |comment| %>
		<% unless comment.body.blank? %>
		<table class="comments">

			<tr class="comments">
				<td class="avatar">
					<span class="gravatar-sm pull-left"><%= link_to (gravatar_for comment.user), user_path(comment.user) %></span>
				</td>

				<td class="content">
					<header>
						<div class="pull-right">

								<% if signed_in? && liked(comment) %>
									<%= link_to like_post_comment_path(comment.post, comment, like: false), method: 'post', remote: true do %>
										<span id="user_like_comment_<%= comment.id %>" class="like"><i class="fa fa-thumbs-o-up"></i></span>	
									<% end %>
								<% else %>
									<%= link_to like_post_comment_path(comment.post, comment, like: true), method: 'post', remote: true do %>
										<span id="user_like_comment_<%= comment.id %>"><i class="fa fa-thumbs-o-up"></i></span>	
									<% end %>
								<% end %>
								<span id="comment_<%= comment.id %>_likes"><%= comment.total_likes %></span>



							<% if correct_user?(comment.user) %>
								<span>	
									<%= link_to edit_post_comment_path(comment.post.id, comment.id) do %>
									<i class="fa fa-pencil-square-o"></i>
									<% end %>
								</span>
							<% end %>
									
							<% if admin? %>
								<span>	
									<%= link_to post_comment_path(comment.post.id, comment.id), method: 'delete', data: { confirm: t('confirm_delete') } do %>
										<i class="fa fa-trash-o"></i>
									<% end %>
								</span>
							<% end %>

						</div>
					
						<div class="pull-left">
							<small>
								<%= link_to comment.user.username, user_path(comment.user) %>
								<span class="timestamp">
									<%= time_ago_in_words(comment.created_at) %>
								</span>
							</small>
						</div>
						<br/>
					</header>
						
					<p><%= markdown(comment.body) %></p>
				</td>				

	

			</tr>

		</table>
		<% end %>
	<% end %>
<% end %>