<h3>All Posts</h3><hr>
<div class="container">
	<div class="row">
		<div class="span9">
			<div class="well">
				<%= render 'shared/posts', object: @posts %>	
			</div>
		</div>

		<div class="span3">
			<%= render 'layouts/sidebar' %>
			<div class="well well-small">
				<small><strong>本站统计</strong><br>
				<ul>
					<li>用户：<%= User.count %></li>
					<li>文章：<%= Post.count %></li>
					<li>评论：<%= Comment.count %></li>
				</ul>
				</small>
			</div>
		</div>


	</div>
</div>






