<h5>Lean China 是一个关于Lean Startup的学习交流社区。</h5><hr>
<div class="container">
	<div class="row">
		<div class="span9">
			<div class="well">
				<ol class="breadcrumb">
				  <li class="active"><%= t('View') %>: </li>
				  <li><%= link_to t('Active'), active_posts_path %></li> / 
				  <li><%= link_to t('Last'), posts_path %></li>
				</ol>
				<hr/>
				<div id="posts">
					<%= render 'shared/posts', object: @posts %>
				</div>
				<div id="paginator">
					<%= paginate @posts, remote: true %>
				</div>
			</div>
		</div>

		<div class="span3">
			<%= render 'layouts/sidebar' %>
			<div class="well well-small">
				<small><strong><%= t('.statistics') %></strong><br>
				<ul>
					<li><%= t('.users') %>：<%= User.count %></li>
					<li><%= t('.posts') %>：<%= Post.count %></li>
					<li><%= t('.comments') %>：<%= Comment.count %></li>
				</ul>
				</small>
			</div>
			<div class="well well-small">
				<small><strong><%= t('links') %></small></strong><br>
				<%= link_to image_tag("rubychina.png", alt: "RubyChina", class: "links"), 'http://ruby-china.org/'%>
			</div>
		</div>


	</div>
</div>






