<header class="navbar navbar-fixed-top navbar-inverse" >
	<div class="navbar-inner">
		<div class="container">
			<%= link_to '创业汇', root_path, id: "logo" %>
				<nav>
					<ul class="nav nav-pills">
						<li><%= link_to '主页',    root_path %></li>
						<li class = "dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"> 分类浏览 <b class="caret"></b></a>
								<ul class="dropdown-menu">
									<% @categories.each do |cat| %>
										<li><%= link_to cat.name, category_path(cat) %></li>					
									<% end %>									
									<li class="divider"></li>
									<li><%= link_to '创建节点', new_category_path %></li>
								</ul>
						</li>
						<li><%= link_to '百宝箱', '#' %></li>
					</ul>
					<% if signed_in? %>
						<ul class="nav pull-right">
							<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"> <%= current_user.username %> <b class="caret"></b></a>
								<ul class="dropdown-menu">
								  <li><%= link_to '我的主页', user_path(current_user) %></li>
								  <li><%= link_to '设置', edit_user_path(current_user) %></li>
								  <li class="divider"></li>
								  <li><%= link_to '退出', signout_path %></li>
								</ul>
							</li>
						</ul>

					<% else %>
						<ul class="nav pull-right">
							<li><%= link_to '注册', signup_path %></li>
	        		<li><%= link_to '登录', signin_path %></li>
	      		</ul>
      		<% end %>
				</nav>
		</div>
	</div>
</header>