<div class="well well-sm">
 	<%= form_tag(posts_path, method: 'get', id: "search-form") do %>
		<%= text_field_tag :search, params[:search], class: "form-control input-block-level", placeholder: "search title..." %>
	<% end %>
</div>

<div class="well well-sm" style="text-align:center">
	<% if signed_in? %>
		<a href="/posts/new", class="btn btn-success"> <%= t('new_post')%></a>
	<% else %>
		<h6><%= t('.participate')%></h6>
		<%= link_to t('sign_in'), signin_path, class: "btn btn-primary" %>
	<% end %>
</div>

