<% if signed_in? %>
	<div class="well well-small">
		<a href="/posts/new", class="btn btn-success">发布新帖</a>
	</div>
<% end %>

<% unless signed_in? %>
	<div class="well well-small">
	<h8>参与发帖, 评论和点赞。</h8><hr>
	<%= link_to '登录', signin_path, class: "btn btn-primary" %> |
	<%= link_to '注册', signup_path, class: "btn btn-success" %>
	</div>
<% end %>

<div class="well well-small">
 	<%= form_tag(posts_path, method: 'get', id: "search-form") do %>
		<%= text_field_tag :search, params[:search], class: "form-control input-block-level", placeholder: "搜索标题..." %>
		<%= submit_tag "搜索", class: "btn btn-info", name: nil %>
	<% end %>
</div>